body{
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form{
  margin-top: 10px;
  width: 92vw;
  display: flex;
  justify-content: center;

}
input{
  margin-top: 10px;
  margin-bottom: 10px;
  padding:20px;
  text-align: center;
}
.container{
  height: max-content;
  width: 100vw;
  margin-top: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
img{
  height: auto;
  margin: 15px;
  width: 40vw;
  border-radius: 20px;
  box-shadow:  10px 10px 10px black;
}
